@charset "utf-8";
@import url('lib/jquery-ui-1.10.4.custom.min.css');
@import url('lib/swiper.css');

/* ==============================
 * skip navigation
 * ============================== */
#skipnav a { position:fixed; z-index:150; display:block; height:1px; width:1px; margin:0 -1px -1px 0; padding:0; overflow:hidden; font-size:1px; line-height:0; }
#skipnav a:active, 
#skipnav a:focus,
#skipnav a:hover { width:100%; height:auto; background: #666666; margin:0; padding:10px 0; font-weight:500; font-size: 16px; color:#fff; text-align:center; line-height:1; text-decoration:none }

#wrap {width:100%; height: 100%;}
/* ==============================
 * header
 * ============================== */
#headerWrap { width:100%; height:103px; position:fixed; top: 0; z-index: 100; background:url('../new_images/common/bgHeadTnb.png') repeat-x #fff;  }
#headerWrap .headArea {width:1140px; margin:0 auto;}
#headerWrap .headArea .logoTop {position:absolute; top:48px; padding:0; }
#headerWrap .headTop { width:100%; height:31px; border-bottom:1px solid #eaeaea; }
#tnb { display:flex; justify-content:flex-end; }
#tnb li { width:105px; height:30px; border-right:1px solid #eaeaea; text-align:center; line-height:30px; }
#tnb li:first-child { border-left:1px solid #eaeaea }
#tnb li a { display:block; width:103px; height:30px; font-size:12px; color:#666666; }
#headerWrap .headBot {width:100%; height:72px; }
#gnb { display:flex; justify-content:flex-end; }
#gnb li { height:72px; text-align:left; line-height:72px; padding-right:90px; }
#gnb li a { display:inline-block; height:72px; font-size:22px; color:#292a2d; }

/* ==============================
* contents
* ============================== */
#contentWrap { width: 100%; padding:103px 0; }
#subTopWrap { width:100%; height: 240px; border-bottom:1px solid #eeeeee }
#subTopWrap.topVisu01 { background: url('../new_images/common/topVisual01.jpg') 50% 0 no-repeat; }
#subTopWrap .subTopArea { width:1140px; height: 200px; margin:0 auto; color:#fff; }
#subTopWrap .subTopArea .subTopTilte { font-size:32px; text-align:center; padding:46px 0 10px; }
#subTopWrap .subTopArea .subTopText { font-size:16px; line-height:24px; text-align:center; font-weight:100; }
#subTopWrap .subTopArea .subTopIcon > ul { display:flex; justify-content:flex-end; }
#subTopWrap .subTopArea .subTopIcon > ul > li  { width:40px; height:40px; border-radius: 100%; background:#dbdee0; margin-right:10px; }
#subTopWrap .subTopArea .subTopIcon > ul > li button { display:block; width:40px; height:40px; font-size:0; line-height: 0; }
#subTopWrap .location { width:1140px; height: 40px; line-height:40px; margin:0 auto; }
#subTopWrap .location > ul { display:flex; justify-content:flex-start; }
#subTopWrap .location > ul > li { position:relative; color:#727476; font-size:12px; font-weight:400; padding:0 20px 0 10px; }
#subTopWrap .location > ul > li:after { position:absolute; top:14px; right:0; width:8px; height:13px; content:''; background:url('../new_images/common/arrowLocation.png') no-repeat; }
#subTopWrap .location > ul > li.home {background:url('../new_images/common/icoHome.png') 0 13px no-repeat; padding:0 20px}
#subTopWrap .location > ul > li:last-child { color:#4e4f51; font-weight: 700;}
#subTopWrap .location > ul > li:last-child:after { background:none; }

#subContentWrap { width:1140px; margin:0 auto; display:flex; padding-top:40px; }
#subContentWrap .lnbArea { width:240px; text-align:left; }
#subContentWrap .lnbArea h2 { font-size:20px; color:#28354f; padding:20px 8px 15px; }
#subContentWrap .lnbArea > ul { width:200px; }
#subContentWrap .lnbArea > ul > li { border-top:1px solid #eee; height: 45px; line-height: 45px; padding:0 15px; }
#subContentWrap .lnbArea > ul > li:last-child { border-bottom:1px solid #727476; } 
#subContentWrap .lnbArea > ul > li > a { font-size:16px; color:#727476; font-weight:400; }
#subContentWrap .lnbArea > ul > li > a:hover, 
#subContentWrap .lnbArea > ul > li > a.on { color:#4e4f51; }

/* ==============================
* footer
* ============================== */
#footerWrap { width:100%; border-top:1px solid #e9e9e9; background:url('../new_images/common/bgFooterLink.png') repeat-x #fff; }
#footerWrap .footerArea { position:relative; width:1140px; margin:0 auto;}
#footerWrap .footerArea .footerCont .footerLink > ul { display:flex; justify-content:flex-start; }
#footerWrap .footerArea .footerCont .footerLink > ul > li {padding: 10px 15px; }
#footerWrap .footerArea .footerCont .footerLogo { position:absolute; display:flex; justify-content:flex-start; top:77px; width: 132px; height: 60px; background: url('../images/common/footer_logo.png') no-repeat; background-size: 132px 60px; font-size: 0;  }
#footerWrap .footerArea .footerCont .footerLogo li { position:relative; }
#footerWrap .footerArea .footerCont .footerLogo li:first-child { padding-right:30px; }
#footerWrap .footerArea .footerCont .footerLogo li:first-child:after { position:absolute; top:10px; right:15px; width:2px; height:15px; content:''; background:#f7f7f7; }
#footerWrap .footerArea .footerCont .footerPolicy { padding:36px 0 25px 310px; } 
#footerWrap .footerArea .footerCont .footerPolicy > ul > li { display:inline-block; padding: 0 17px; }
#footerWrap .footerArea .footerCont .footerPolicy > ul > li:first-child { padding-left:0; }
#footerWrap .footerArea .footerCont .footerPolicy > ul > li > a { font-size: 14px; font-weight: 400; color:#727476; }
#footerWrap .footerArea .footerCont .footerPolicy > ul > li.on > a { color:#934811; }
#footerWrap .footerArea .footerCont .footerMark { position:absolute; display:flex; justify-content:flex-end; top:120px; right:0; width: 132px; height: 60px; background: url('../images/common/footer_logo.png') no-repeat; background-size: 132px 60px; font-size: 0;  }
#footerWrap .footerArea .footerCont .footerMark li { padding-left:10px; }
.post { font-size:12px; font-weight:400; color:#727476; padding-left:310px; }
.copyright { font-size:12px; font-weight:400; color:#727476; padding-left:310px; padding-bottom:105px; }

/* ==============================
* 하단 플로팅 메뉴
* ============================== */
#floatingWrap {	display:none; }

/* ==============================
* top button
* ============================== */
.btnGoTop { position: fixed; right: 15px; bottom: 0; z-index: 50; opacity: 0; transition: all 0.4s linear; }
.btnGoTop a { display:block; width: 36px; height: 37px; background: url('../images/common/btn/go_top_btn.png') no-repeat; background-size: 100%; font-size: 0; }
.btnGoTop.on { bottom: 65px; visibility: visible; opacity: 1; }


/* ==============================
* table
* ============================== */
.tableWrap .view { width: 100%; }
.tableWrap .view table { border-bottom: 1px solid #ea5455; margin-bottom: 40px; }
.tableWrap .view th { font-family: 'Raleway'; font-size: 22px; color:#333; font-weight: 400; }

/* ==============================
* tab
* ============================== */
.tabInterface .tabList { display:table; width:100%; background: #fff; font-family: 'Raleway'; font-size: 1.5em; font-weight: 700; }
.tabInterface .tabList li { display:table-cell; width:25%; height: 60px; line-height: 60px; text-align: center; border:none; border-bottom:1px solid #cccccc; box-sizing: border-box; color:#ccc; cursor: pointer; }
.tabInterface .tabList li.on { border-bottom: 1px solid #ea5455; color:#ea5455; }
.tabInterface .tabContents .inner { background: #fff; }
.tabInterface .tabContents .tabCont { display: none; } 
.tabInterface .tabContents .tabCont.on { display: block; }

/* ==============================
* textarea
* ============================== */
textarea { border:1px solid #9c9ea2; padding: 20px; color:#333; width: 100%; resize:none;}
textarea.autosize { min-height: 80px; }

/* ==============================
* input
* ============================== */
input[type="text"],input[type="password"],
input[type="button"],input[type="number"],input[type="submit"],textarea,select { font-size:14px; font-weight:400; border:1px solid #cdcdd1; padding:3px 5px; color:#4e4f51; height:40px; }
input[type="text"],input[type="password"],select,textarea{background:#fff;}
textarea{height:auto;line-height:20px;}
.dateinput{white-space:nowrap;}

/* ==============================
* select
* ============================== */
.selectbox { display:inline-block; height:40px; padding:0 30px 0 20px; border:1px solid #cdcdd1; }
.selectbox { -webkit-border-radius:0px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url('../new_images/common/arrowSelect.png') no-repeat right 10px center; background-size:10px 6px; }
.selectbox::-ms-expand { display:none;}
.selectbox:disabled { background-color:#f2f2f2; color:#b5b5b5; }
.selectbox:focus { border:1px solid #2d4059; transition: all .3s ease; }
.selectbox.h30 { height:30px; }

/* hack */
@media all and (min-width:0\0) and (min-resolution:.001dpcm)
{
.selectbox {padding:0 0 0 8px; background:#fff;}
}

/* ==============================
* radio
* ============================== */
.radioBox {display:inline-block; position:relative; padding-left:25px; line-height:16px; text-align:left;}
.radioBox input {position:absolute; top:0; left:0; z-index:1; opacity:0;}
.radioBox label {font-weight:400; font-size:18px; cursor:pointer;}
.radioBox label:after { content:''; display:block; position:absolute; top:2px; left:0; width:16px; height:16px; background:url('../images/common/icon/radio_icon.png') 0 0 no-repeat; background-size: 16px 32px; }
.radioBox input:checked + label:after { background-position:0 -16px;}

/* ==============================
* checkbox
* ============================== */
.checkBox {display:inline-block; position:relative; padding-left:25px; line-height:16px; text-align:left;}
.checkBox input {position:absolute; top:0; left:0; z-index:1; opacity:0; border:1px solid red; }
.checkBox label {font-weight:400; font-size:18px; cursor:pointer;}
.checkBox label:after { content:''; display:block; position:absolute; top:2px; left:0; width:16px; height:16px; background:url('../images/common/icon/checkbox_icon.png') 0 0 no-repeat; background-size: 16px 32px; }
.checkBox input:checked + label:after { background-position:0 -16px;}

/* ==============================
* button
* ============================== */
.btnGroup{ display:inline-block }
.btnGroup button,.btnGroup a { min-width:120px; display:inline-block; text-align:center; background:#4171df; color:#fff; font-size:16px; line-height:40px; height:40px; padding:0 30px; box-sizing:border-box; }
.btnGroup button.primary,.btnGroup a.primary{ background:#315ac0; color:#fff; } 
.btnGroup button[disabled="disabled"]{border-color:#86a6ff;color:#86a6ff;cursor:unset}

/* ==============================
* pagenation
* ============================== */
.pagenation {text-align:center; font-size: 14px; color:#9e9e9e; }
.pagenation > a {display:inline-block; border-bottom:4px solid #fff; margin:0 4px; min-width:30px; line-height:26px; vertical-align:middle; text-align:center; color:#333; box-sizing: border-box; }
.pagenation > a.on { border-bottom:4px solid #4270e0; color: #4270e0; }
.pagenation > a:hover:not(.pb) { border-bottom:4px solid #4270e0; color: #4270e0; }
.pagenation > .pb { border:1px solid #ccc; font-size:0; overflow:hidden; margin:0 15px; width:30px; height:30px; background:url('../new_images/common/btnPage.png') center no-repeat; background-size: 6px 10px;}
.pagenation > .next { transform: rotate(180deg); }

/* ==============================
* etc
* ============================== */
.ellisis {overflow:hidden; text-overflow: ellipsis; white-space: nowrap; word-break: break-all;}
.verPC {display:block !important;;}
.verM {display:none !important;}
.tl { text-align: left !important; }
.tc { text-align: center !important; }
.tr { text-align: right !important; }
.fl {float:left;}
.fr {float:right;}
.clear {clear:both;}
.clearFixed:after {content:''; display:block; clear:both;}
.hide {display:none;}

/* Max해상도 : 아이폰X */
@media screen and (max-width:812px) { 
    /* ==============================
    * header
    * ============================== */
    #headerWrap, #subTopWrap { display:none; } 

    /* ==============================
    * contents
    * ============================== */
    #contentWrap { padding:0; }    
    #contentWrap #subContentWrap { width:100%; padding:0; }
    #contentWrap #subContentWrap .lnbArea { display:none; }

    /* ==============================
    * footer
    * ============================== */
    #footerWrap { width:100%; border-top:1px solid #e2e2e4; background:none; padding-bottom:63px; }
    #footerWrap .footerArea { position:relative; width:100%; margin:0 auto;}
    #footerWrap .footerArea .footerCont .footerLink,
    #footerWrap .footerArea .footerCont .footerLogo,
    #footerWrap .footerArea .footerCont .footerMark { display:none; }
    #footerWrap .footerArea .footerCont .footerPolicy { padding:23px 30px; } 
    #footerWrap .footerArea .footerCont .footerPolicy > ul {display:flex; flex-wrap: wrap; justify-content:space-around; }
    #footerWrap .footerArea .footerCont .footerPolicy > ul  > li { display:inline-block; padding: 0 0px; }
    #footerWrap .footerArea .footerCont .footerPolicy > ul > li:first-child { padding-left:0; }
    #footerWrap .footerArea .footerCont .footerPolicy > ul > li > a { font-size: 12px; font-weight: 400; color:#727476; }
    #footerWrap .footerArea .footerCont .footerPolicy > ul > li.on > a { color:#934811; }
    #footerWrap .footerArea .post { display:none; }
    #footerWrap .footerArea .copyright { text-align:center; font-size:11px; color:#727476; padding-left:0; padding:0 30px 34px; }

    /* ==============================
    * 하단 플로팅 메뉴
    * ============================== */
    #floatingWrap { display:block; width:100%; }
    .fixBotNav { position:fixed; left:0px; right:0px; bottom:0px; z-index:150; height:63px; transition:all 0.4s linear; display:block; } 
    .floatingMenu { background:#4171df; color:#fff; }
    .floatingMenu ul { display:flex; justify-content:space-between; }
    .floatingMenu li { width:25%;}
    .floatingMenu li a { position:relative; box-sizing:border-box; display:block; height:63px; padding-top:40px; font-size: 11px; font-weight: 400; text-align: center; }
    .floatingMenu span:after { content:''; display:block; position:absolute; top:14px; left:calc(50% - 12px); width:24px; height:20px; background : url('../new_images/common/icoFloatingMenu.png'); background-size: 120px 20px; }
    .floatingMenu .home span:after { background-position: 0px 0; }
    .floatingMenu .search span:after { background-position: -24px 0; }
    .floatingMenu .my span:after {background-position: -48px 0; }
    .floatingMenu .totMenu span:after { background-position: -72px 0; }

    /* ==============================
    * button
    * ============================== */
    .btnGroup{ display:inline-block }
    .btnGroup button,.btnGroup a { min-width:0; width:100%; display:inline-block; text-align:center; font-weight:400; background:#4171df; color:#fff; font-size:13px; line-height:34px; height:34px; padding:0 30px; box-sizing:border-box; }
    .btnGroup button.primary,.btnGroup a.primary{ background:#315ac0; color:#fff; } 
    .btnGroup button[disabled="disabled"]{border-color:#86a6ff;color:#86a6ff;cursor:unset}

    /* ==============================
    * input
    * ============================== */
    input[type="text"],input[type="password"],
    input[type="button"],input[type="number"],input[type="submit"],textarea,select { font-size:14px; font-weight:300; border:1px solid #cdcdd1; padding:3px 10px; color:#4e4f51; height:34px; }
    input[type="text"],input[type="password"],select,textarea{background:#fff;}
    textarea{height:auto;line-height:20px;}
    .dateinput{white-space:nowrap;}

    /* ==============================
    * select
    * ============================== */
    .selectbox { display:inline-block; height:34px; padding:0 30px 0 10px; border:1px solid #cdcdd1; }
    .selectbox { -webkit-border-radius:0px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#fff url('../new_images/common/arrowSelect.png') no-repeat right 10px center; background-size:10px 6px; }
    .selectbox::-ms-expand { display:none;}
    .selectbox:disabled { background-color:#f2f2f2; color:#b5b5b5; }
    .selectbox:focus { border:1px solid #2d4059; transition: all .3s ease; }
    .selectbox.h30 { height:30px; }
}


/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/
@media (min-width: 481px) and (max-width: 767px) {


    
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {


}